@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/vazir/eot/Vazir-FD.eot');
    src: url('fonts/vazir/eot/Vazir-FD.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
      url('fonts/vazir/woff2/Vazir-FD.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
      url('fonts/vazir/woff/Vazir-FD.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('fonts/vazir/ttf/Vazir-FD.ttf') format('truetype');
   }
*{
    
    font-family: 'vazir';
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
wrapper{
    background: rgba(39, 39, 39, 0.4);
}

body{
    /* position: relative; */
    
    height: 100vh;
    width: 100%;
    
    
}

.nav{
    color: #174794;
    background-color: #6a92e3;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}
.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
header{
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 24px;
}

ul{
    display: flex;
}

li{
    margin-left: 40px;
    list-style: none;
}

a{
    text-decoration: none;
    color: #f9faf8;
    font-size: 20px;
}

.header-container{
    padding-top: 20px;
    width: 100%;
    background-color: #215eb4;
    color: white;
    background-image: url(medicine-blue-background-flat-lay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.container{
    width: 75%;
    margin: auto;
    
    
}


.web-description-container{
    /* background: url(medicine-blue-background-flat-lay.jpg) no-repeat; */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden; */
    margin-top: 100px;
    display: flex;
    /* justify-content: space-between; */
    padding-bottom: 100px;
    /* align-items: center;
    justify-self: center;
    justify-content: center; */
    padding-right: 10%;
    /* align-items: center; */
    /* justify-content: center; */
}

.web-description-title{
    font-size: 48px;
    align-items: center;
    justify-self: center;
    /* font-weight: bolder; */
}

.web-description{
    padding-right: 140px;
}

.web-description-text{
    margin-top: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

/* .web-description button{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
} */


.web-info-container{
    padding: 30px 0;
    
    
}

.web-info-title{
    padding-top: 25px;
    text-align: center;
    font-size: 36px;
}

.info-container{
    /* padding-left: 5px; */
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 50px;
    padding-bottom: 100px;
}

.info-item p{
    margin-top: 10px;
    padding-left: 60px;
    padding-right: 20px;
    text-align: center;
    font-size: 18px;
    color: #474747;
}

.info-item-image{
    border-radius: 20px;
    margin-left: 40px;
}


.quote-container{
    background-color: #e5e7eb;
    padding: 110px 160px;
}

.quote-text-container{
    display: flex;
    flex-direction: column;
}

.quote-text-container h3{
    display: inline-block;
    text-align: end;
    padding-right: 30px;
    font-size: 24px;
}

.quote-text{
    
    font-size: 18px;
    /* font-style: italic; */
}

.product-signup-contaner{
    padding: 90px 0;
    
}
.nav-button button {
    /* width: 130px;
    height: 40px;
    padding: 0.5px 2px;
    border: 1px outset buttonborder;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
     */
     width: 130px;
     height: 40px;
     font-weight: 500;
     background: rgba(255, 255, 255, 0.4);
     border: none;
     border-radius: 30px;
     cursor: pointer;
     transition: .3s ease;

}

.product-signup{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 10px;
     
}

.product-sell p{
    margin-top: 5px;
}

.product-signup button{
    background: none;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    font-size: 16px;
    /* font-weight: bold; */
    color: #f9faf8;
    cursor: pointer;
}

footer{
    color: white;
    width: 100%;
    background-color: #1F2937;
    padding: 55px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    font-size: 18px;
}