<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'loginpage.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <div class="nav-logo">
            <p>LOGO .</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link active">Home</a></li>
                <li><a href="#" class="link">Blog</a></li>
                <li><a href="#" class="link">Services</a></li>
                <li><a href="#" class="link">About</a></li>
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
            <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>
    <div class="wrapper">
        <form action="">
            <h1>login</h1>

            <div class="inputbox">
                <input type="text" placeholder="Username" required> 
                <i class='bx bxs-user'></i>
            </div>
            <div class="inputbox">
                <input type="password" placeholder="Password" required > 
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="remember">
                <label ><input type="checkbox">remember me</label>
                <a href="#">forgot password</a>
            </div>
            <button type="submit" class="btn">login</button>
            <div class="register-link">
                <p>dont have an account
                <a href="#">sign in</a></p>
            </div>
        
        
        
        
        </form>




    </div>
    
</body>
</html>